* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'sans-serif';
  background-color: #181818;
}

.header {
  background-color: black;
  color: white;
  height: 60px;
  padding: 0 55px;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
}

.controls {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  background-color: #313131;
}

.controls_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.play-stop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.play-stop_button {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: black;
  border: 0;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px #444444;
  position: relative;
}

.play-stop_button:active {
  box-shadow: 0 1px #444444;
  top: 2px;
}

.play_button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  border-color: transparent transparent transparent #47CF73;
  border-style: solid;
  border-width: 13px 0 13px 22px;
}

.stop_button {
  width: 22px;
  height: 22px;
  background-color: #E70041;
}

.display {
  background-color: #111C0B;
  display: flex;
  color: #47CF73;
  padding: 10px 40px;
  margin-left: 20px;
}

.measure_number {
  display: flex;
  font-size: 36px;
  font-weight: 700;
}

.measure_beat {
  border-left: 1px solid;
  margin-left: 10px;
  padding-left: 10px;
}

.measure_title {
  font-size: 16px;
  font-weight: 400;
}

.bpm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  margin-left: 30px;
}

.bpm_input {
  font-size: 36px;
  font-weight: 700;
  color: #47CF73;
  background-color: inherit;
  border: none;
  outline: none;
}

.drum-machine {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  padding: 20px;
  color: white;
}

.drum-machine_patterns {
  margin-bottom: 15px;
}

.drum-machine_pattern {
  width: 50px;
  margin-left: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: white;
}

.drum-machine_pattern-selected {
  background-color: #47CF73;
}

.drum-machine_instruments {
  display: flex;
  align-items: flex-end;
}

.bars {
  display: flex;
}

.bars_measure {
  width: 25px;
  text-align: center;
  border-radius: 4px;
  margin: 0 4px 4px 0;
}

.bars_measure-selected {
  background-color: #AE63E4;
}

.sample {
  display: flex;
}

.sample-name {
  padding-right: 10px;
  margin-bottom: 4px;
  height: 25px;
  line-height: 25px;
}

.notes {
  display: flex;
  margin-bottom: 4px;
}

.note {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 4px;
}

.note-play {
  background-color: #0EBEFF;
}

@media screen and (min-width: 768px) {
  .drum-machine {
    width: 600px;
  }
  .sample-name {
    height: 30px;
  }
  .bars_measure {
    width: 30px;
  }
  .note {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */